<div class="header-bg-color container-fluid px-0 ">
    <div class="header-height col-12">
      <div class="float-left logo-container">
        <img src="assets/images/logo.png" class="logo-img" alt="">
      </div>
  
      <div class="float-right user-info font-semi-bold white-text text-right">
        <div class="user-name font-semi-bold font-size-12">Hello</div>
        <div class="user-name font-semi-bold font-size-14">{{userName}}</div>
      </div>
      <div class="header-text font-semi-bold">Medicine Tracking System</div>
    </div>
  </div>