/* You can add global styles to this file, and also import other style files */
#mainContent {
    min-height: 100vh;
    position: relative;
    height: 100%;
    padding-bottom: 30px;
    background-color: #f4f4f4;
}

.header-bg-color {
    background-color: #3d3a35;
}

header {
    .header-height {
        height: 80px;
        padding: 0 30px;
    }
    .logo-img {
        height: 70px;
        width: 70px;
        z-index: 5;
        position: absolute;
    }
    .header-text {
        color: #fff;
        font-size: 18px;
        line-height: 85px;
        text-align: center;
    }
    .user-info {
        padding-top: 1.5rem;
        .user-name {
            color: #fff;
            font-size: 14px;
        }
    }
}



.footer {
    color: #666666;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 14px;
    border-top: 1px solid #e9e9e9;
}

.k-grid {
    border: 0;
    .k-grid-header {
        //padding-right: 8px !important;
        border: 0;
        background-color: #ececec;
        .k-grid-header-wrap {
            border: 0;
        }
    }
    .k-grid-content {
        overflow: auto; // padding-right: 8px;
    }
    tr {
        &:first-child {
            td {
                border-top: 0;
            }
        }
        &.k-state-selected>td {
            background-color: #fff;
        }
        th {
            color: #555555;
            background-color: #ececec;
            border-style: hidden;
            overflow-y: hidden;
            padding-right: 0px;
            font-size: 13px;
            vertical-align: middle;
            font-weight: 700;
            white-space: inherit;
            padding: 9px 12px;
            &:last-child {
                a {
                    margin-right: 15px;
                    padding-right: 0px;
                }
            }
        }
        td {
            color: #666666;
            border-style: hidden;
            border-top: 1px solid #dee2e6;
            overflow-y: hidden;
            font-size: 14px;
            vertical-align: middle;
            padding: 10px 12px;
            &:last-child {
                padding-right: 1rem;
            }
            &.k-state-selected {
                background-color: #fff;
            }
        }
    }
    tbody {
        tr {
            background-color: #fff !important;
        }
    }
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }